.quiz-description, .welcome-msg {
    color: #fff;
}

.quiz-description {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 4rem;
    margin-right: 4rem;
    /* width: 60%; */
}

.start-btn {
    background-color: #FFF73C;
    font-family: Monofett;
    font-size: 35px;
    cursor: pointer;
}
      
.start-btn:hover {
    background-color: #d6d029;
}
