.hint-wrapper {
    position: relative;
    width: 70%;
}

.hint-card {
    height: 15rem;
    width: 15rem;
    position: absolute;
    /* z-index: 9;
    margin: 0px; */
    background-color: rgb(228, 228, 8);
    bottom: 7rem;
    left: 2rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}

.hint-text {
    width: 60%;
    margin-left: 15px;
    font-size: 17px;
}

.closing-btn {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    margin-left: 2px;
    font-size: 16px;
    background-color: #EB5757;
    color: #FFFF;
}

.closing-btn:hover {
    background-color: #a52525;
}