.hints-left-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* margin-top: 2rem; */
}

.hints-left {
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}